@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Record Collection</h1>
  <hr />
  <p>@Html.ActionLink("View all Albums", "Index", "Albums")</p>
  <p>@Html.ActionLink("View all Artists", "Index", "Artists")</p>
</div>